<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul class="nav-bar" style="text-decoration: none;">
      <li><a href="#">Home</a></li>
      <li><a href="#">Adopt</a></li>
      <li><a href="#">Donate</a></li>
      <li><a href="#">Profile</a></li>
    </ul>

  </body>
</html>
