<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Connect The Spots</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da|BioRhyme:300,400" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">connect the <span id="spots">spots</span></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Adopt
        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/doglist">Dogs</a></li>
                        <li><a href="/catlist">Cats</a></li>
                        <li><a href="#">I Don't Know</a></li>
                    </ul>
                </li>
                <li><a href="#">Donate</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Pet-lover</a></li>
                        <li><a href="#">Shelter</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/javascripts/script.js" charset="utf-8"></script>
  </body>
</html>
