<% include partials/header %>

  <h1>Cat or Dog Quiz</h1>

<form method="get" action="" class="quiz">
  <h2>Do you like Dogs or Cats?</h2>
  <input type="radio"> Man's best friend Dog!
  <input type="radio"> Independent Cat!
</form>
