<% include partials/header %>

    <h1>Quiz</h1>

    <form method="get" action="" class="quiz">
        <h2>Do you like Dogs or Cats?</h2>

        <div class="animals">
            <div class="dogs">

                <a href="/doglist">
                    <input type="radio" name="Cat or Dog"><img src="/img/dogaquiz.png" alt="Dog" />
                    <p class="dogs-para">
                        Man's best friend!
                    </p>
                </a>
            </div>

            <div class="cats">
                <a href="/catlist">
                    <input type="radio" name="Cat or Dog"><img src="/img/cataquiz.png" alt="Cat" />
                    <p class="cats-para">
                        Independent Cats!
                    </p>
                </a>

            </div>
        </div>

    </form>

    <!-- <script src="/javascripts/quiz.js"></script> -->
    <link rel="stylesheet" href="/stylesheets/aquiz.css">
