<% include partials/header %>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da|BioRhyme" rel="stylesheet">
    <h3>Not sure which pet is right for you?</h3>
    <input type="button" value="Take Our Quiz" id="quiz-btn">
    <input type="button" value="See Available Dogs" id="dogs-btn">
    <input type="button" value="See Available Cats" id="cats-btn">

    <input type="button" value="Let's see them" id="pets">
    <h1 id="petsList"></h1>


    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
