<% include partials/header %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                    <div class="grey-box">
                      <a href="#">
                        <h2>Not sure if you want a dog or a cat? </h2>
                        <img id="quiz" src="/img/homepage quiz.png" alt="" />
                        <p>Take our quiz and see</p>
                      </a>
                    </div>
            </div>
            <div class="col-md-6">
                <div class="green-box">
                    <a href="/doglist">
                      <img class="pic" src="/img/homepage dog.png" alt="" />
                      <p id="green-box-dog">See Available Dogs</p>
                    </a>
                </div>


                <div class="green-box">
                  <a href="/catlist">
                    <img class="pic" src="/img/homepage cat.png" alt="" />
                    <p>See Available Cats</p>
                  </a>
                </div>


            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">

                    <div class="small-grey-box">
                      <a href="/quiz">

                        <h2>Find your ideal dog breed </h2>
                        <p>Click here to take quiz</p>
                      </a>
                    </div>

            </div>

            <div class="col-md-2">

                <a href="/shelters">
                    <div class="small-green-box">
                        <img class="smallpic" src="/img/homepage donate.png" alt="" />
                        <p id="green-box-dog">Donate</p>
                    </div>
                </a>
            </div>

            <div class="col-md-2">
                <a href="#">
                    <div class="small-green-box" id="right">
                        <img class="smallpic2" src="/img/homepage profile.png" alt="" />
                        <p>Profile</p>
                    </div>
                </a>

            </div>
        </div>
    </div>

<div class="mission">
  <h2>Our mission is to help people to find the ideal animal companion to share a long lasting friendship.</h2>
</div>
