<% include partials/header %>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a href="/quiz">
                    <div class="grey-box">
                        <h2>Not sure if you want a dog or a cat? </h2>
                        <img id="quiz" src="/img/homepage quiz.png" alt="" />
                        <p>Take our quiz and see</p>
                    </div>
                </a>

            </div>
            <div class="col-md-6">
                <a href="/doglist">
                    <div class="green-box">
                        <img class="pic" src="/img/homepage dog.png" alt="" />
                        <h2 id="green-box-dog"><a href="/doglist">See Available Dogs</a></h2>
                    </div>
                </a>
                <a href="/catlist">
                    <div class="green-box">
                        <img class="pic" src="/img/homepage cat.png" alt="" />
                        <h2>See Available Cats</h2>
                    </div>
                </a>

            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6">

                <a href="#">
                    <div class="grey-box">
                        <h2>Find your ideal dog breed </h2>
                        <p>Click here to take quiz</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3">

                <a href="#">
                    <div class="small-green-box">
                        <img class="pic" src="/img/homepage donate.png" alt="" />
                        <h2 id="green-box-dog"><a href="/doglist">Donate</a></h2>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#">
                    <div class="small-green-box">
                        <img class="pic" src="/img/homepage profile.png" alt="" />
                        <h2>Profile</h2>
                    </div>
                </a>

            </div>
        </div>
    </div>
    </div>
