<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Project Frontend</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da|BioRhyme:300,400" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <h1>QUIZ</h1>
      <form class="quiz" action="index.html" method="post">
        <h2>Do you have any kids?</h2>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" checked autocomplete="off" name="kidFriendly" value="true" id='a1'> Yeah, crawling around
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="kidFriendly" value="true" id='a2'> Yeah, walking and talking
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="kidFriendly" value="false" id='a3'> No little ones here
          </label>
        </div>

        <h2>What are you willing to do for your dog?</h2>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" checked autocomplete="off" name="maintenance" value="High" id='b1'> Run marathons and sweep everyday
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="maintenance" value="Medium" id='b2'> A walk here and there, maybe some grooming
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="maintenance" value="Low" id='b3'> The less care needed, the better
          </label>
        </div>

        <h2>How much barking can you handle?</h2>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" checked autocomplete="off" name="noiseLevel" value="High" id='c1'> A lot, my indie band practice will drown it out
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="noiseLevel" value="Medium" id='c2'> Just friendly conversations
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="noiseLevel" value="Low" id='c3'> My neighbors shouldn't know I have a pet
          </label>
        </div>

        <h2>What size are we talking?</h2>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" checked autocomplete="off" name="fullGrownSize" value="Small" id='d1'> Can fit in my purse
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="fullGrownSize" value="Medium" id='d2'> Bigger than the average dog
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="fullGrownSize" value="Large" id='d3'> Eye to eye with ponies
          </label>
        </div>

        <h2>My dog will ... ?</h2>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary">
            <input type="radio" checked autocomplete="off" name="personality" value="Athlete" id='e1'> Be an expert tennis ball retreiver
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="personality" value="Intellectual" id='e2'> Be a master at performing tricks for treats
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="personality" value="Lone Wolf" id='e3'> Be off doing their own thing
          </label>
          <label class="btn btn-primary">
            <input type="radio" checked autocomplete="off" name="personality" value="Defender" id='e4'> Be my home security system
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="personality" value="Entertainer" id='e5'> Act as my nightly entertainment
          </label>
          <label class="btn btn-primary">
            <input type="radio" autocomplete="off" name="personality" value="Cuddler" id='e6'> Keep my lap warm on the couch
          </label>
        </div>
    </form>
    <br>
    <input type="button" value="Submit" id="submit-btn">



    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="/javascripts/quiz.js"></script>

  </body>
</html>
