<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pet Project Frontend</title>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Da|BioRhyme:300,400" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

  <h1>QUIZ</h1>
  <h2>Do you have any kids?</h2>

  <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="checkbox" checked autocomplete="off"> Yeah, crawling around
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Yeah, walking and talking
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> No little ones here
  </label>
</div>

  <h2>What are you willing to do for your dog?</h2>

  <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="checkbox" checked autocomplete="off"> Run marathons and sweep everyday
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> A walk here and there, maybe some grooming
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> The less care needed, the better
  </label>
</div>

  <h2>How much barking can you handle?</h2>

  <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="checkbox" checked autocomplete="off"> A lot, my indie band practice will drown it out
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Just friendly conversations
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> My neighbors should know I have a pet
  </label>
</div>

  <h2>What size are we talking?</h2>

  <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="checkbox" checked autocomplete="off"> Can fit in my purse
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Bigger than the avarage dog
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Eye to eye with ponies
  </label>
</div>

  <h2>My dog wil ... ?</h2>

  <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="checkbox" checked autocomplete="off"> Be an expert tennis ball retreiver
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Be a master at performing tricks for treats
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Be off doing their own thing
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" checked autocomplete="off"> Be my home security system
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Act as my nightly entertainment
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Keep my lap warm on the couch
  </label>
</div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>

  </body>
</html>
