<% include partials/header %>

<div class="page">


<h2 id="needs">Shelters In Need</h2>

<div class="container">
  <div class="row" id="apa">
    <div class="col-md-4"><img src="/img/austin pets alive.png" id="apa-pic" alt="" /></div>
    <div class="col-md-8">
      <h2 class="shelter-name"><a href="http://www.austinpetsalive.org/donate/">Austin Pets Alive!</a></h2>
      <p class="shelter-text">
        We maintain comprehensive, innovative programs designed to save the animals most at risk for euthanasia.
      </p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row" id="apa">
    <div class="col-md-4">
      <img src="/img/austin humane.png" id="apa-pic" alt="" />
    </div>
    <div class="col-md-8">
      <h2 class="shelter-name"><a href="https://community.austinhumanesociety.org/sslpage.aspx?pid=298">Austin Humane Society</a></h2>
      <p class="shelter-text">
        Unleash hope for Austin's homeless animals by making an impact. There are many ways you can help.
      </p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row last" id="apa">
    <div class="col-md-4">
      <img src="/img/shelter profile.png" id="aac-pic" alt="" />
    </div>
    <div class="col-md-8">
      <h2 class="shelter-name"><a href="http://www.austintexas.gov/department/support-animal-center">Austin Animal Center</a></h2>
      <p class="shelter-text">
        We run the largest no-kill shelter in the U.S., providing shelter to more than 18,000 animals each year.
      </p>
    </div>
  </div>
</div>

</div>
