<% include partials/header %>


<h2>Shelters In Need</h2>

<div class="container">
  <div class="row">
    <div class="col-md-4" id="shelters">
      <img src="img/austin pets alive.png" alt="" />

    </div>
    <div class="col-md-8">
      <h1>Austin Pets Alive!</h1>
      <p>
        We maintain comprehensive, innovative programs designed to save the animalsmost at risk for euthanasia.
      </p>
    </div>
  </div>
</div>


  <div class="ahs">
    <img src="img/austin humane.png" alt="" />
    <h1>Austin Humane Society</h1>
    <p>
      Unleash hope for Austin's homeless animals by making an impact. There are many ways you can help.
    </p>
  </div>



  <div class="aac">
    <img src="img/shelter profile.png" alt="" />
    <h1>Austin Animal Center</h1>
    <p>
      We run the largest no-kill shelter in the U.S., providing shelter to more than 18,000 animals each year.
    </p>
  </div>
</div>
