body{
  font-family: 'Baloo Da', cursive;
}
ul.dogs{
  display: inline-block;

}
.dogPics{
  padding: 20px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  float: left;
}
li.dogListItem{
  background-color: #D8D8D8;
  list-style: none;
  margin:20px;
  width:70%;
  overflow: hidden;
  border-radius: 20px;
}
.feature {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 2px solid #F01C47;
  border-radius: 30px;
}
.features {
  padding: 10px;
}
.about{
  padding: 10px;

}
.readMore{
  padding: 10px;
  color: red;
  float: right;
  /*text-decoration: none;*/
  cursor: pointer;
}
.readMore:hover{
  color: white;
}
.heart{
  float: left;
}
