ul.dogs{
  display: inline-block;
}
.dogPics{
  padding: 20px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
li.dogListItem{
  /*display: inline-block;*/
  background-color: #D8D8D8;
  list-style: none;
  margin:20px;
  width:70%;

}
.feature {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border: 2px solid #F01C47;
  border-radius: 30px;
  /*background-color: #000000;*/
  /*outline-color: #F01C47;*/
}
/*
.breed{
  display: inline-block;
}
.kidFriendly {
  display: inline-block;
}
.maintenance {
  display: inline-block;
}
.noiseLevel{
  display: inline-block;
}
.fullGrownSize{
  display: inline-block;
}
.personality{
  display: inline-block;
}*/
