.navbar {
  font-family: 'Baloo Da', cursive;
  color: #ACABAB;
  /*font-family: 'BioRhyme', serif;*/
}

.navbar-brand {
  padding-right: 200px;
  color: #ACABAB;
  font-size: 40px;
}

#spots {
  color: black;
}

li a {
  font-family: 'BioRhyme', serif;
  font-size: 16px;
  color: #ACABAB
}

.col-md-6 {
  font-family: 'BioRhyme', serif;
  font-size: 30px;
}

.grey-box {
  border-radius: 20px;
  background: #ACABAB;
  text-align: center;
}

img {
  height: 100px;
  text-align: center;
}
