.navbar {
  font-family: 'Baloo Da', cursive;
  color: #ACABAB;
  /*font-family: 'BioRhyme', serif;*/
}

.navbar-brand {
  padding-right: 200px;
  color: #ACABAB;
  font-size: 40px;
}

#spots {
  color: black;
}

li a {
  font-family: 'BioRhyme', serif;
  font-size: 16px;
  color: #ACABAB
}

.col-md-6 {
  font-family: 'BioRhyme', serif;
  font-size: 30px;
}

.grey-box {
  border-radius: 20px;
  background: #393F3C;
  text-align: center;
  width: 300px;
  padding: 10px;
  margin-left: 120px;
  height: 300;
}

.grey-box h2 {
  font-family: 'Baloo Da';
  color:white;
}

.grey-box p {
  font-family: 'BioRhyme';
  font-size: 16px;
  color: white;
}

#quiz {
  height: 100px;
  text-align: center;
}

.green-box {
  background: #5CB85C;
  text-align: center;
  border-radius: 20px;
  width: 250px;
  height: 100px;
  margin-bottom: 40px;
}

.green-box h2 {
  font-size: 16px;
}

.green-box .pic {
  width: 100px;
  height: auto;
}

.small-green-box {
  margin: 10px
}
